# build
maturin==1.4.0

# run
numpy==1.26.3

# test
pandas==2.2.0
pytest==7.4.4
pytest-runner==6.0.1

# bench
pytest-benchmark==4.0.0

# develop
pip==23.3.2
wheel==0.42.0
watchdog==3.0.0
ruff
coverage==7.4.0
Sphinx==7.2.6
mypy==1.8.0
