# build
maturin==0.8.0

# run
numpy==1.18.3

# test
pandas==1.0.3
pytest==5.4.1
pytest-runner==5.2

# bench
pytest-benchmark==3.2.3

# develop
pip==20.0.2
wheel==0.34.2
watchdog==0.10.2
flake8==3.7.9
coverage==5.0.4
Sphinx==3.0.0
pickle5==0.0.9
black==19.10b0
mypy==0.770
